@model List<Admin.Models.Category_partner>


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutDash";

}


@*<br/>
 
<h4 class="card-title">
          <a asp-area="" asp-controller="Partner" asp-action="ViewPartner"><i class="mdi mdi-chevron-left"></i></a>
           Partner Contents</h4>*@
<div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">
        
           Partner Category <span style="Float: right;"><a asp-area="" asp-controller="CategoryPartner" asp-action="CreateCategoryPartner">      
           <button type="button" class="btn btn-inverse-primary btn-md" >Create</button></a></span></h4>
            
            
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          @*<th> ID </th>*@
                          <th> Partner Category </th>
                          <th> Status</th>
                          <th>  </th>
                        </tr>
                      </thead>
                      <tbody>
                          @foreach(var category_partner in Model){
                          <tr>             
                          @*<td> @category_partner.id </td>*@
                          <td> @category_partner.category_name </td>
                          <td> @category_partner.status</td>
                          <td> <a href="Updatecategory_partner\@category_partner.id"><button type="button" class="btn btn-inverse-info btn-sm">Edit</button></a></td>
                          </tr>
                          }
                      </tbody>
                    </table>
                    
                  </div>
                </div>
              </div>


