@model Admin.Models.Solutions
@*
  For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
  Layout = "_LayoutDash";

}
<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Create Solutions</h4>
      @*<p class="card-description"> Basic form elements </p>*@
      <form class="forms-sample" method="post" action="CreateSolution">
        <div class="form-group">
          @*<label for="exampleInputName1">ID</label>*@
          <input type="hidden" class="form-control" id="exampleInputName1" readonly>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail3">Solution Name</label>
          <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Name" asp-for="solution_name">
        </div>
        @*<div class="form-group">
          <label>Logo</label>
          
          <input type="file" class="form-control btn-gradient-primary" asp-for="partner_logo">
        </div>*@
        <div class="form-group">
          <label for="exampleInputEmail3">Type of Solution </label>
          <select class="form-select" aria-label="Default select example" asp-for="solution_type_id" asp-items="@ViewBag.type">
            @*<option value="">---</option>*@
          </select>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword4">Description</label>
          
          <textarea id="div_editor1" style="width: 100%;" asp-for="description" class="form-control">
              
         </textarea>  
         </div>
          <script>
            var editor1 = new RichTextEditor("#div_editor1");
          //editor1.setHTMLCode("Use inline HTML or setHTMLCode to init the default content.");
          </script>
          
        

        <button type="submit" class="btn btn-inverse-primary btn-fw" value="Insert">Insert</button>
        @*<button type="submit" class="btn btn-inverse-warning btn-fw" value="Update">Update</button>
          <button type="submit" class="btn btn-inverse-danger btn-fw" value="Delete">Delete</button>*@
        <button asp-area="" asp-controller="Solution" asp-action="ListSolution"
          class="btn btn-inverse-success btn-fw">View</button>
      </form>
      
    </div>
  </div>
</div>