@model Admin.Models.Careers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutDash";

}
<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Update Career</h4>
      @*<p class="card-description"> Basic form elements </p>*@
      <form class="forms-sample" method="post" asp-action="UpdateCareer">
        <div class="form-group">
          @*<label for="exampleInputName1">ID</label>*@
          <input type="hidden" class="form-control" id="exampleInputName1" asp-for="id" >
        </div>
        <div class="form-group">
          <label for="exampleInputEmail3">Title</label>
          <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Name" asp-for="career_name">
        </div>
        <div class="form-group">
            <label>Date</label>
            <input class="form-control" type="date" id="formFile" asp-for ="career_date">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword4">Details</label>
           <textarea id="div_editor1" style="width: 100%" asp-for="career_detail" class="form-control" >
            </textarea>  
          <script>
	        var editor1 = new RichTextEditor("#div_editor1");
	        //editor1.setHTMLCode("Use inline HTML or setHTMLCode to init the default content.");
            </script>
        </div>
        <button type="submit" class="btn btn-inverse-warning btn-fw" >Update</button>
        <button type="submit" class="btn btn-inverse-danger btn-fw" asp-area="" asp-controller="Career" asp-action="Delete">Delete</button>
        <button asp-area="" asp-controller="Career" asp-action="ListCareer" class="btn btn-inverse-success btn-fw">View</button>
      </form>
    </div>
  </div>
</div>
