@model Admin.Models.SolutionDetail
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "_LayoutDash";
}
<div class="col-12 grid-margin stretch-card">
  <div class="card">
	<div class="card-body">
	  <h4 class="card-title">Create Solution Detail</h4>
			@*<p class="card-description"> Basic form elements </p>*@
	  <form method="post" asp-action="CreateSolutionDetail">
		<div class="form-group">
					@*<label asp-for="id">ID</label>*@
		  <input type="hidden" class="form-control" id="exampleInputName1">
		  <span asp-validation-for="id" class="text-danger"></span>
		</div>
				@*<div class="form-group">
          <label asp-for="about_heading">H</label>
          <input asp-for="about_heading" class="form-control" id="exampleInputEmail3" placeholder="heading">
          <span asp-validation-for="about_heading" class="text-danger"></span>
      </div>*@
		<div class="form-group">
		  <label for="exampleInputEmail3">Solution's Name </label>
		  <select class="form-select" aria-label="Default select example" asp-for="solution_id" asp-items="@ViewBag.type">
			<option value="">---</option>
		  </select>
		</div>
		<div class="form-group">
		  <label asp-for="remark">Remark</label>

		  <textarea id="div_editor1" style="width: 100%" asp-for="remark" class="form-control">
		 </textarea>  
		  <script>
			var editor1 = new RichTextEditor("#div_editor1");
		  //editor1.setHTMLCode("Use inline HTML or setHTMLCode to init the default content.");
		  </script>
		</div>
		<button type="submit" class="btn btn-inverse-primary btn-fw" value="Insert">Insert</button>
				@*<button type="submit" class="btn btn-inverse-warning btn-fw" value="Update">Update</button>
        <button type="submit" class="btn btn-inverse-danger btn-fw" value="Delete">Delete</button>*@
		<button asp-area="" asp-controller="SolutionDetail" asp-action="ListSolutionDetail"
          class="btn btn-inverse-success btn-fw">View</button>
	  </form>
	</div>
  </div>
</div>
