@*@model Enumerable<AboutUs>*@
@model List<Admin.Models.AboutUs>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   // Layout = "null";
}
<!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('@Url.Content("~/source/img/blog/blog-5.jpg")');">
	  <div class="container position-relative d-flex flex-column align-items-center">

		<h2>About Us</h2>
				@* <ol>
          <li><a href="index.html">Home</a></li>
          <li>Blog</li>
        </ol>*@

	  </div>
	</div><!-- End Breadcrumbs -->
 <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4" data-aos="fade-up">
         @* <div class="col-lg-4">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>*@
            @foreach (var about in Model)
            {
                <div class="col-lg-12" style="margin-bottom: 20px;">
                <div class="content ps-lg-5">
                  <h3>@about.about_heading</h3>
                  <p>
                @Html.Raw(about.about_detail)
              </p>
              @*<ul>
                <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                <li><i class="bi bi-check-circle-fill"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              </ul>*@
            </div>
          </div>
            }
           
        </div>

      </div>
    </section><!-- End About Section -->