<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
	<rewrite>
		<rules>
			<rule name="Rewrite to article.aspx">
				<match url="^Event/ViewEventDetail/([0-9]+)/([_0-9a-z-]+)" />
				<action type="Rewrite" url="article.aspx?id={R:1}&amp;event_heading={R:2}" />
			</rule>
		</rules>
	</rewrite>
</configuration>