@model List<Admin.Models.Customers>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutDash";

}


@*<br/>
 
<h4 class="card-title">
          <a asp-area="" asp-controller="Partner" asp-action="ViewPartner"><i class="mdi mdi-chevron-left"></i></a>
           Partner Contents</h4>*@
<div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">
          <a asp-area="" asp-controller="Customer" asp-action="CreateCustomer"><i class="mdi mdi-chevron-left"></i></a>
           List of Customers</h4>
                   
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          @*<th> ID </th>*@
                          <th> Logo </th>
                          <th> Customer Name </th>
                          <th> Category </th>
                          <th> Status</th>
                          <th>  </th>
                        </tr>
                      </thead>
                      <tbody>
                          @foreach(var customer in Model){
                          <tr>             
                          @*<td> @Partner.id </td>*@
                          <td> 
                              @{
                                    var base64 = Convert.ToBase64String(customer.customer_logo);
                                    var img = string.Format("data:image/gif;base64,{0}", base64);
                                }
                              <img src="@img" style="width:60px; height:60px;">
                            </td>
                          <td> @customer.customer_name </td>
                          <td> @customer.category_customer.category_name</td>
                          <td> 
                              @{
                                    if(customer.status == true)
                                    {
                                        <h5 class="card-title text-success">Active</h5>
                                    }
                                    else
                                    {
                                         <h5 class="card-title text-danger">None</h5>
                                    }
                              }
                          </td>
                          <td> <a href="UpdateCustomer\@customer.id"><button type="button" class="btn btn-inverse-info btn-sm">Edit</button></a>
                            </td>
                          </tr>
                          }
                      </tbody>
                    </table>
                    
                  </div>
                </div>
              </div>
